
.navbar {
    height: 100px;
    color: black;
}

ul {
    text-decoration: none;
    display: flex;
    flex-direction: row-reverse;
    list-style-type: none;
    color: black;
}

.lista {
    margin-top: 20px;
    padding: 20px;
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-family: Helvetica, Arial, sans-serif;
    text-transform: capitalize;
}

.palabra {
    text-decoration: none;
    color: black;
}

.palabra:hover{
    color: black;
}

.lista:hover {
    color: black !important;
    transform: scale(1.1);
    transition: all 1s ease;
}

#select{
    width: 60px;
    margin: 7px;
}

.buscador{
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin: 10px;
    width: 100px;
    height: 30px;
}
